@use '../../scss/' as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s linear;

    &-wrap {
        padding: 0px 115px;

        @include flex(center, space-between);
        height: 100%;

        @include mobile {
            justify-content: center;
        }
    }

    &-nav {
        @include flex(center, unset);

        & li ~ li {
            margin-left: 2rem;
        }

        li {
            position: relative;
            padding: 5px 0;
            font-weight: 700;
            font-size: 1.4rem;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                transform: translateX(-50%);
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-color;
                color: bisque;
            }

            &:hover::after {
                width: 100%;
            }
        }

        @include mobile {
            position: fixed;
            bottom: -1px;
            left: 0;
            height: 5rem;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            @include flex(center, space-between);
            li ~ li {
                margin: 0;
            }
        }
    }

    &.scroll {
        height: 5rem;
        background-color: $body-bg;
    }
}

.logo {
    position: relative;
    top: 6px;
}
