@use '../../scss/' as *;

.banner {
    padding-top: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        opacity: 0.5;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
    }
}

.content {
    display: flex;
    max-width: 1260px !important;
    justify-content: center;
    position: relative;
    margin-top: -200px !important;
    padding: 0 2rem;
    .poster {
        flex: 1;
        .poster__img {
            padding-top: 165%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 30px;
        }
        @include mobile {
            display: none;
        }
    }

    .content__info {
        width: 67%;
        margin-left: 2rem;

        @include mobile {
            width: 100%;
            margin-left: 0;
        }

        .title {
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 1;
        }

        .genres {
            margin-bottom: 2rem;

            .genres__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid #fff;
                border-radius: 30px;
                font-size: 0.8rem;
                font-weight: 600;
                background-color: #0f0f0f;
            }

            .genres__item ~ .genres__item {
                margin-left: 0.5rem;
            }
        }

        .overview {
            margin-bottom: 2rem;
        }

        .credit {
            margin-bottom: 2rem;
        }

        .casts {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
            grid-gap: 10px;
            gap: 10px;

            .casts__item-img {
                padding-top: 160px;
                background-size: cover;
                margin-bottom: 0.5rem;
                background-position: center;
            }
        }
    }
}

.video {
    margin-bottom: 2rem;
    .title {
        margin-bottom: 1rem;
    }
    iframe {
        @include mobile {
            height: 200px;
        }
    }
}

.similar {
    margin-bottom: 3rem;
    h2 {
        margin-bottom: 1rem;
    }
}
